body {
    margin: 0;
}

.header {
    background-color: red;
    display: flex;
    align-items: baseline;
    padding: 5px;
    font-size: 20px;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: blue;
    padding: 0 0 0 33%;
    font-size: 24px;
}

.link:hover {
    color: yellow;
}

.dropDown {
    position: relative;
}

.dropDownManga {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
}

.dropDown > .link:focus + .dropDownManga {
    opacity: 1;
    transform: translateY(0);
}

.dropDownManga.active {

}