body {
    margin: 0;
}

.header {
    background-color: red;
    display: flex;
    align-items: baseline;
    padding: 10px;
    font-size: 20px;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: blue;
    padding: 0;
}

.link:hover {
    color: yellow;
}

.dropDown {
    position: relative;
}

.dropDownManga {
    position: absolute;
}