body {
    margin: 0;
    padding: 0;
    background-color:rgb(201, 201, 201);
}

.header {
    background-color: rgb(48, 45, 45);
    width: 110%;
    display: flex;
    align-items: left;
    justify-content: space-around;
    transform: translateX(-10%);
    padding: 5px;
    font-size: 20px;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: rgb(204, 204, 212);
    font-size: 24px;
}

.wiki {
    background: none;
    border: none;
    text-decoration: none;
    color: black;
}

.dropDown.active > .link,
.link:hover {
    color: yellow;
}

.dropDown {
    position: relative;
}

.dropDownMenu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
}

.dropDown.active > .link + .dropDownMenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#info {
    width: 500px;
    gap: 2rem;
    text-decoration: none;
}

ul {
    list-style-type: none;
}