html {
    background-color: black;
    color: white;
}
head {
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    background-color: pink;
    width: 700px;
    height: 500px;
    position: absolute;
}

.banner_slides {
    width: 50%;
    height: 50%;
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: yellow;
}

p {
    color: red;
}

footer {
    position: fixed;
    bottom: 0;
}