html {
    background-color: black;
    color: white;
}
head {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    color: yellow;
}

p {
    color: red;
}

footer {
    position: fixed;
    bottom: 0;
}