html {
    background-color: black;
    color: white;
}
head {
    font-family: Arial, Helvetica, sans-serif;
}

head,
img {
    display: flex;
    max-height: '600';
    max-width: '800';
    justify-content: center;
    align-items: center;
}

h1 {
    color: yellow;
}

p {
    color: red;
}

footer {
    position: fixed;
    bottom: 0;
}