.container {
    display: flex;
    padding: 15% 10% 10px 10%;
    text-align: center;
    justify-content: center;
}

.container .resume {
    right: 20px;
}
.container .emailButton{
    left: 20px;
}

.container h5 {
    color: rgb(233, 233, 233);
}

.emailForm {
    color: rgb(233, 233, 233);
    text-align: center;
}