.container {
    display: flex;
    padding: 15% 10% 10px 10%;
    text-align: center;
    justify-content: center;
}

.container,
.resume {
    justify-content: space-around;
}

.container .resume:hover{
    transition: width 0.5s linear;
    width: 90px;
    height: auto;
}

.container,
.emailButton {
    justify-content: space-around;
}

.container h5 {
    color: rgb(233, 233, 233);
}

.emailForm {
    color: rgb(233, 233, 233);
    text-align: center;
}
