.container {
    display: flex;
    padding: 15% 10px 10px 10px;
    text-align: center;
    justify-content: center;
}

.container h5 {
    color: rgb(233, 233, 233);
}

.emailForm {
    color: rgb(233, 233, 233);
    text-align: center;
}