.goTop {
  float: right;
  color: rgb(233, 233, 233);
  left: 5px;
}

table {
    height: 40%;
    padding: 5% 0 5% 20%;
    overflow-y: scroll;
    position: absolute;
    width: 80%;
  }
  
  .preview {
    width: 50px;
  }

  .info {
    width: 200px;
    overflow-y: scroll;
  }

  .date {
    width: 100px;
  }

  td {
    height: 200px;
  }

  thead th {
    background: skyblue;
    color: rgb(233, 233, 233);
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
  }
  
  th, td {
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    text-align: center;
  }

