html {
    color: rgb(233, 233, 233);
}

table {
    height: 40%;
    padding: 20% 0 0 15%;
    overflow-y: scroll;
    position: absolute;
    width: 80%;
  }
  
  thead th {
    background: skyblue;
    color: rgb(233, 233, 233);
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  #preview {
    width: 50px;
  }

  #information {
    width: 150px;
  }

  #date {
    width: 100px;
  }

  td {
    height: 50px;
  }