.icons {
    padding: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;
    margin: 50px 50px 50px 50px;
    background-color: pink;
    display: inline-block;
    z-index: 10;
}

.icons,
img {
    width: 75px;
    height: 75px;
    display: inline-block;
}