.buttons {
    width: 100%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;
    background-color: pink;
    display: inline-block;
    z-index: 10;
    letter-spacing: 25%;
}