.buttons {
    width: 100%;
    padding-top: 20%;
    text-align: center;
    background-color: rgb(22, 22, 22);
    display: flex;
    z-index: 10;
    justify-content: space-around;
}

.buttons .facebook:hover{
    transition: transform .5s linear;
    transform: rotate(30deg);
}

.buttons .facebook:hover:after {
    transition: transform .5s linear;
    transform: rotate(-30deg);
}

.buttons .instagram:hover{
    transition: transform .5s linear;
    transform: rotate(30deg);
}

.buttons .github:hover{
    transition: transform .5s linear;
    transform: rotate(30deg);
}

.buttons .linkedin:hover{
    transition: transform 1s linear;
    transform: rotate(30deg);
}